<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/profile.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Reka Hajnovicsova</a></h1>
            <p>Biomedical Engineer<br />
            TU Delft</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
              </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a target="_blank" href="https://www.linkedin.com/in/rekahajnovicsova/" class="icon fa-linkedin"  ><span class="label">LinkedIn</span></a></li>
                <li><a target="_blank" href="https://github.com/RekaH/RiskawareControl" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="{{ site.baseurl }}/contact" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

